<div id="success-page" data-bind="with: successModel">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-2 col-xs-1"></div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-10" style="padding-top: 15px;">
      <!-- small box -->
      <div class="tile">
        <img src="/common/images/clipboard.svg" alt="Done!" class="tile-image big-illustration">

        <h3 class="tile-title">Successfully Signed Up!</h3>
        <br>

        <p>
          You have completed your first step on your way to be a WIZARD!
          <br>
          Your name must be Harry!
        </p>

        <a class="btn btn-primary btn-large btn-block"
           data-bind="attr: { href: continueURL }">
          Continue <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
