<div id="footer">
  <div class="footer">
    <div class="container">
      <div class="clearfix">
        <dl class="footer-nav">
        </dl>
        <dl class="footer-nav">
          <dt class="nav-title">Legal Info</dt>
        </dl>
        <dl class="footer-nav">
          <dt class="nav-title">Quick Navigation</dt>
        </dl>
        <dl class="footer-nav">
          <dt class="nav-title"><a><i class="fa fa-twitter-square" style="font-size: xx-large"></i></a>
            <a><i class="fa fa-facebook-square" style="font-size: xx-large"></i></a>
            <a data-bind="attr: { href: 'mailto:' + fp.email }">
              <i class="fa fa-envelope" style="font-size: xx-large"></i>
            </a>
          </dt>
        </dl>
      </div>
      <div class="footer-copyright text-center">
        <span class="text-white">Copyright &copy; 2015 Dumbledore. All rights reserved.</span>
      </div>
    </div>
  </div>
</div>
