<div>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-0"></div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <p>
        <h3 class="pull-left">Profile details for
      "<span data-bind="text: user().username"></span>":
      <small>(ID: <span data-bind="text: user().userId"></span>)</small></h3>
      </p>
      <p>
        <span><img src="/common/images/dmbldr2.jpg" width="342" height="256"></span>
        <h4><span class="text-google-plus">Enough! I'm not Feuerstein! I'm Dumbledore!</span></h4>
        <span><img src="/common/images/gandalf.jpg" width="342" height="256"></span>
        <h4><span class="text-google-plus">Or Gandalf, not really sure...</span></h4>
        <span><img src="/common/images/rf.jpg" width="151" height="205"></span>
        <h4><span class="text-google-plus">Stop playing, You'v got work to do.</span></h4>
      </p>
    </div>
  </div>
</div>