<div class="theme-div">
    <div class="row">
        <div class="col-md-2">
            <p class="square-one"></p>
        </div>
        <div class="col-md-2">
            <p class="square-two"></p>
        </div>
        <div class="col-md-2">
            <p class="square-three"></p>
        </div>
        <div class="col-md-2">
            <p class="square-four"></p>
        </div>
        <div class="col-md-2">
            <p class="square-six"></p>
        </div>
        <div class="col-md-2">
            <p class="square-five"></p>
        </div>
    </div>
</div>